bodyabout
 {
	font-family:ZEKTON_FREE;
	font-size:14px;
	/*font-weight:300;*/
	font-weight:bold;
	line-height:1.6em;
	color:#333;
	background-color : #233465;
}
.container{

width: 95%;
/*background-image:url("../img/panorama1.png");*/
background-attachment:fixed;
	background-size: 100% auto;
}
/* row background */
/* this is for modal message box started */
.rowbackground{
 background: transparent url('../img/AboutUs.jpg') no-repeat  center /cover ;
 	margin-right: 0px;
	margin-left: 0px;
/*	margin-top : 3%;*/
 margin-top : 3%;
 }


#missionButton{
	background: transparent url('../img/Mission1.png');
	margin-left : 10px;
	margin-bottom : 10px;
	color: white;
}

#missionButton:hover{
	background: transparent url('../img/Mission2.png');
	margin-left : 10px;
	margin-bottom : 10px;
	color: black;
}
#visionButton{
	background: transparent url('../img/Mission1.png');
	
	margin-left : 10px;
	margin-bottom : 10px;
	color: white;
}
#visionButton:hover{
	background: transparent url('../img/Mission2.png');
	
	margin-left : 10px;
	margin-bottom : 10px;
	color: black;
}
#objectivesButton{
	background: transparent url('../img/Mission1.png');
	
	margin-left : 10px;
	margin-bottom : 10px;
	color: white;
}
#objectivesButton:hover{
	background: transparent url('../img/Mission2.png');
	
	margin-left : 10px;
	margin-bottom : 10px;
		color: black;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

/* this is for modal message box started ended*/

.container1 {
  padding-right: 1px;
  padding-left: 1px;  /* this code is for container size */
  margin-right: auto;
  margin-left: auto;
  margin-top: 1px;
  width:100%;
  height:730px;
  background-size: 100% auto;
  
}
.navstrip{
/*background-color: #4E5C67;/* in the image it is #4E5C67*/
background-color : rgb(79,93,104);

width : 100%;
height: 2%;
/*margin-left: 3.5%;*/
/*opacity: 0.5; */
}
#QualityButton{
	background: transparent url('../img/Mission1.png');
	
	margin-left : 10px;
	margin-bottom : 10px;
	color: white;
}
#QualityButton:hover{
	background: transparent url('../img/Mission2.png');
	
	margin-left : 10px;
	margin-bottom : 10px;
		color: black;
}#SafetyButton{
	background: transparent url('../img/Mission1.png');
	
	margin-left : 10px;
	margin-bottom : 10px;
	color: white;
}
#SafetyButton:hover{
	background: transparent url('../img/Mission2.png');
	
	margin-left : 10px;
	margin-bottom : 10px;
		color: black;
}

#b1img{
	background: transparent url('../img/B1.png');
	
	margin-left : 10px;
	margin-bottom : 10px;
	color: white;
}
#b1img:hover{
	background: transparent url('../img/B2.png');
	
	margin-left : 10px;
	margin-bottom : 10px;
		color: black;
}
/* this is for thumbnail started */
.thumbnail {
  display: block;
  padding: 1px;
  margin-bottom: 10px;
  line-height: 1.42857143;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
		  
}


.
.row1 {
  margin-right: 1px;
  margin-left: 1px;
}

@media (min-width: 1200px) {
  .containerthmb {
    width: 1170px;
  }
}
.containerthmb {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: 60%;
  
}


/* this is for thumbnail started ended*/

